:root {
  --sidebar-width: 28em;
  --ui-opacity: 0.7;
  --primary-color: rgb(240, 88, 240);
  --ui-bg-color: rgba(22, 22, 22, 0.85);
  --primary-text-color: #fbfbfb;
}

body {
  margin: 0;
  padding: 0;
  /* Verdana, Geneva, Tahoma,  */
  font-family: sans-serif;
  color: var(--primary-text-color);
  overflow: hidden;
}

/* Responsiveness rules */

body {
  font-size: xx-large;
}
@media screen and (max-width: 3300px) {
  body {
    font-size: x-large;
  }
}
@media screen and (max-width: 3000px) {
  body {
    font-size: larger;
  }
}
@media screen and (max-width: 2600px) {
  body {
    font-size: large;
  }
}
@media screen and (max-width: 1900px) {
  body {
    font-size: medium;
  }
}
@media screen and (max-width: 1100px) {
  body {
    font-size: smaller;
  }
}
@media screen and (max-width: 760px) {
  body {
    font-size: small;
  }
}
@media screen and (max-width: 640px) {
  body {
    font-size: x-small;
  }
} 
@media screen and (max-width: 420px) {
  body {
    font-size: xx-small;
  }
}

canvas {
  display: block;
}

#root, #fps {
  opacity: var(--ui-opacity);
}

.reset-ghosting-btn {
  position: fixed;
  left: 0;
  bottom: 0;
  margin: .3em;
  padding: .3em .6em;
  color: rgb(192, 128, 192);
  border: 2px solid rgb(114, 15, 114);
  border-radius: 9px;
  background-color: rgb(94, 13, 94);
  cursor: pointer;
  z-index: 1;
}

.counters {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
}

.counters-container {
  display: inline-flex;
  padding: .3em .6em;
  font-size: 1em;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.counters-container div {
  margin: .2em .2em .1em .2em;
  padding: .1em .2em 0 .2em;
}

.counters-container .counter {
  display: flex;
  flex-direction: column;
}

.counters-container .counter div {
  display: flex;
  justify-content: center;
}

.counters-container .counter div.label {
  margin: 0em;
  padding: 0em;
  font-size: .8em;
  font-weight: bold;
  color: var(--primary-color)
}

.counters-container .counter div.value {
  font-family: monospace;
  font-size: 1.2em;
}

.controls {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  bottom: 0;
  width: 100%;
}

.controls-container {
  display: inline-flex;
  align-items: center;
  padding: .8em .9em .6em .9em;
  font-size: 1em;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.controls-container div {
  margin: .3em;
  padding: .3em .6em;
}

.counters-container,
.controls-container,
.sidebar-container {
  background-color: var(--ui-bg-color)
}

.controls-container label {
  font-size: .9em;
  color: var(--primary-text-color);
}

.counters-container,
.controls-container,
.sidebar-container {
  border: 1px solid rgba(255, 255, 255, 0.2)
}
/* 
.sidebar.left-sidebar .sidebar-container {
  border-bottom-right-radius: 18px;
  border-top-right-radius: 18px;
}

.sidebar.right-sidebar .sidebar-container {
  border-bottom-left-radius: 18px;
  border-top-left-radius: 18px;
} */

/* Sidebar */
.sidebar {
  position: fixed;
  display: flex;
  height: 100%;
  width: var(--sidebar-width);
  transition: .250s ease-in-out;
}

.sidebar.hidden {
  right: -300px
}

.sidebar.left-sidebar {
  top: 0;
  left: 0;
}

.sidebar.right-sidebar {
  top: 0;
  right: 0;
}

.sidebar.left-sidebar.closed {
  left: calc(-1 * var(--sidebar-width));
}

.sidebar.right-sidebar.closed {
  right: calc(-1 * var(--sidebar-width));
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  padding: 0 .9em;
  width: 100%;
  font-size: 1em;
}

.sidebar-container .title h3 {
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: .3em;
  margin-top: .9em;
}

.sidebar .title {
  display: flex;
  flex-direction: row;
}

.sidebar.left-sidebar .title {
  justify-content: flex-end;
}

.sidebar.right-sidebar .title {
  justify-content: flex-start;
}

.sidebar-container > div,
.sidebar-container > div > div,
.sidebar-container > div > div > div {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  flex-direction: column;
  margin: .3em;
  padding: .3em .6em;
}

.sidebar-container div select {
  width: -webkit-fill-available;
}

.sidebar-container label {
  flex-wrap: nowrap;
  font-size: .9em;
}

.sidebar-container div input {
  width: -webkit-fill-available;
}

.menu-btn {
  position: fixed;
  display: inline-flex;
  top: 0;
  margin: .7em 1.1em;
  font-size: 2em;
  cursor: pointer;
  z-index: 1;
}

.menu-btn.menu-btn-left {
  justify-content: flex-start;
  left: 0;
}

.menu-btn.menu-btn-right {
  justify-content: flex-end;
  right: 0;
}

.menu-btn div {
  padding: .3em;
}

.objectsContainer {
  overflow-y: scroll;
}

.object {
  padding: .43em .66em;
  border-radius: 9px;
  border: 1px solid #333;
}

.objectsContainer input {
  border: 1px solid #333;
  background-color: black;
  padding: .43em .66em;
}